{% extends 'shared/_layout.html' %}

{% block main %}

<form>
  <div class="form-group mb-4">
    <label class="mb-1" for="articleTitle">Title</label>
    <input type="text" class="form-control mb-1" id="articleTitle" aria-describedby="articleTitle" placeholder="Enter a Title">
    <small id="articleBoost" class="form-text text-muted">Make It Unique.</small>
  </div>

  <div class="form-group mb-4">
    <label class="mb-1" for="articleCategory">Category</label>
    <select class="form-select" id="articleCategory">
      <option>Tech</option>
      <option>Business</option>
      <option>World</option>
      <option>Lifestyle</option>
    </select>
  </div>

  <label class="mb-1">Content</label>
  <div class="form-floating mb-4">
    <textarea
      id="articleContent" 
      class="form-control" 
      placeholder="Leave a comment here"  
      style="height: 200px"></textarea>
    <label for="articleContent">What's new?</label>
  </div>

  <button type="submit" class="btn btn-outline-dark">Post It!</button>
</form>

{% endblock main %}