{% extends 'shared/_layout.html' %}

{% block main %}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">{{ main_article['Title']}}</h1>
    <p class="lead my-3">{{ main_article['Content'][0:300]}}...</p>
    <p class="lead mb-0">
      <a href="{{url_for('articles.article', article_id=main_article['Id'])}}" 
         class="text-white fw-bold">Continue reading...
      </a>
    </p>
  </div>
</div>

<div class="row mb-2 pt-3">
  <h2 class="mb-4">Latest Articles</h3>

  {% for article in articles_to_display %}
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-secondary">{{article['DisplayCategory']}}</strong>
          <h3 class="mb-1">{{article['Title']}}</h3>
          <div class="mb-2 text-muted">{{article['DisplayCreated']}}</div>
          <p class="card-text mb-2">{{ article['Content'][0:50]}}...</p>
          <a href="{{url_for('articles.article', article_id=article['Id'])}}" class="stretched-link text-secondary">Continue reading</a>
        </div>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock main %}